VITE_SUPABASE_URL=https://ijujdlsvtnusfwginiym.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gE2Jeemd9M9YO9qJVdt2nQ_R1QYeAMF


PORT=5000

GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE

GROQ_CHAT_MODEL=llama-3.3-70b-versatile
GROQ_STT_MODEL=whisper-large-v3-turbo