VITE_SUPABASE_URL=https://ijujdlsvtnusfwginiym.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gE2Jeemd9M9YO9qJVdt2nQ_R1QYeAMF


PORT=5000

GROQ_API_KEY=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

GROQ_CHAT_MODEL=openai/gpt-oss-20b
GROQ_STT_MODEL=whisper-large-v3-turbo
TAVILY_API_KEY=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