@import "./themes.css";


/* ================================
   RESET
================================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--font-body);
  background: var(--bg-primary);
  color: var(--text-primary);

  transition:
    background-color var(--transition-normal),
    color var(--transition-normal);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: 100vh;
}

